extends ../base.pug

block content
    header
          nav.navbar.navbar-toggleable-sm.bg-dark
            .navbar-brand
                img.CitizensLikeMe_logo-white(src="./img/CitizensLikeMe_logo white.png")


    .row.justify-content-center.py-5.mt-3
      p.py-5.Find-legislation-tha Find legislation that affects YOU

      p.Citizens-Like-Me-sho Citizens Like Me shows legislative bills that are specific to you and what you care about.

    .col-md-6.col-sm-3.offset-md-4.offset-sm-3.py-5
        a.btn.Rectangle-2.text-white(href="/register")
          span.display-4 get started