extends ../base.pug

block content
    .Rectangle
      .Citizens-Like-Me.p-4
        img(src="img/CitizensLikeMe_logo.png")

      p.py-5
        form(method="POST")
          .form-group.row
            .ethnicity.offset-sm-1.offset-md-3.col-sm-3.col-md-3.col-form-label(for="ethnicity") ethnicity
            select.Rectangle-9.mr-md-2#ethnicity(name="ethnicity")
                option Select...
                option White
                option Black/African American
                option Hispanic/Latino
                option Asian
                option American Indian/Alaskan Native
                option Native Hawaiian/Pacific Islander
          .form-group.row
            .zip-code.offset-sm-1.offset-md-3.col-form-label.col-md-3.col-sm-3(for="year") birth year
            input.Rectangle-9.mr-md-2#year(type="text" name="year")
          .form-group.row
            .zip-code.offset-sm-1.offset-md-3.col-form-label.col-md-3.col-sm-3(for="zip") zip
            input.Rectangle-9.mr-md-2#zip(type="text" name="zip")
          .form-group.row
            .marital-status.offset-sm-1.offset-md-3.col-sm-3.col-md-3.col-form-label(for="ethnicity") marital status
            select.Rectangle-9.mr-md-2#ethnicity(name="ethnicity")
                option Select...
                option Single
                option Married
          .form-group.row
            .do-you-have-children.offset-sm-1.offset-md-3.col-form-label.col-md-3.col-sm-3(for="zip") do you have children?
            select.Rectangle-9.mr-md-2#ethnicity(name="ethnicity")
                option Select...
                option Yes
                option No
          button.Rectangle-11.offset-sm-4.offset-md-9.mt-4(type="submit")
            span.almost-done Let's go
              img.arrow-right.ml-5(src="img/arrow-right.svg")
